/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Aug-2016, 19:41:51
    Author     : Emily
*/

body
{
    background-color: #512951;
    
    
}

#arena
{
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
    height: 500px;
    
}

#game-canvas
{
    border: 1.5px solid black;
    
    
}
#toast
{  font-size: 50px;
   color: white;
   
    
    
}
#score
{
    font-size: 10px;
   color: white;
    
    
}